.lines {
    fill: none;
    stroke: #dcdcdc;
    stroke-linejoin: round;
}

text {
    font-size: 5pt;
    dominant-baseline: middle;
}

.clickable:not(.checked) {
    cursor: pointer;
}

.clickable:hover:not(.checked) {
    stroke: #81FF40;
    stroke-width: .1px;
    filter: drop-shadow(0px 0px 1px #81FF40) drop-shadow(0px 0px 2px #81FF40) drop-shadow(0px 0px 1px #81FF40);
}

.checked {
    stroke: #000;
    stroke-width: .5px;
}

.mat-body {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}