<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <div class="flex-height">
            <mat-toolbar color="primary">
                <span>4 Generation Challenge</span>
                <span class="spacer"></span>
                <a mat-raised-button color="accent" href="mailto:sarahj80@gmail.com?subject=Family History Help&body=I would like some help with family history." target="_blank" rel="noopener noreferrer">
                Request Help <mat-icon>help</mat-icon></a>
            </mat-toolbar>
            <app-layout class="spacer"></app-layout>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>