<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>West Chester Relief Society 4 Generation Family History Challenge</span>
            <span class="spacer"></span>
            <a mat-raised-button color="accent" href="mailto:sarahj80@gmail.com?subject=Family History Help&body=I would like some help with family history." target="_blank" rel="noopener noreferrer">
                Request Help <mat-icon>help</mat-icon></a>
        </mat-toolbar>
        <app-layout></app-layout>
    </mat-sidenav-content>
</mat-sidenav-container>