<div class="grid-container">
    <p>Please help us work on our ward's goal of each person completing a 4 generation ancestry chart. You can also share interesting family history memories with others.</p>
    <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon>{{card.icon}}</mat-icon>
                        {{card.title}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>
                        <app-ancestry *ngIf="card.title == title1"></app-ancestry>
                        <app-tidbits *ngIf="card.title == title2"></app-tidbits>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>