<div [ngClass]="{'flex-height scroll': flexHeight}" class="grid-container">
    <p>
        Welcome to the West Chester Relief Society 4 Generation Family History Challenge! Please help us work on our ward's goal of each person completing a 4 generation ancestry chart by tracking your progress in the chart below. You can also share interesting
        family history memories with your fellow Relief Society sisters.
    </p>
    <mat-grid-list class="spacer" cols="2" [rowHeight]="flexHeight ? '100%' : '30em'">
        <mat-grid-tile [colspan]="columns | async" [rowspan]="1" [ngClass]="{'no-flex': !flexHeight}">
            <mat-card class="dashboard-card">
                <div class="flex-height">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon>family_restroom</mat-icon>
                            Track Progress
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content spacer scroll">
                        <app-ancestry></app-ancestry>
                    </mat-card-content>
                </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="columns|async" [rowspan]="1" [ngClass]="{'no-flex': !flexHeight}">
            <mat-card class="dashboard-card">
                <div class="flex-height">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon>try</mat-icon>
                            Share
                        </mat-card-title>
                        <button class="sticky" mat-fab (click)="openDialog()" color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content spacer">
                        <app-tidbits></app-tidbits>
                    </mat-card-content>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>