.grid-container {
    padding: 0 1em;
}

.dashboard-card {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
}

.mat-card-title .mat-icon {
    vertical-align: bottom;
}

mat-card-content.dashboard-card-content {
    margin: 0
}

.sticky {
    position: absolute;
    right: -.25em;
    top: -1em;
}

.no-flex {
    height: 25em;
}