.grid-container {
    padding: 0 1em;
}

.mat-card-title .mat-icon {
    vertical-align: bottom;
}

mat-card-content.dashboard-card-content {
    margin: 0
}

.relative {
    position: relative;
    padding-top: 1em;
    top: -1em;
}

.sticky {
    position: absolute;
    right: -1.5em;
    top: -.5em;
    z-index: 1000;
}

.fixed-size {
    height: 40em;
}

.cards .row mat-card {
    position: unset;
    margin-bottom: 1em;
}

@media (min-width:825px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .cards {
        flex: 1 1 auto;
    }
    .row {
        height: 100%;
        display: flex;
    }
    .fixed-size {
        height: unset;
    }
    .cards .row mat-card {
        flex: 1 1 auto;
        flex-basis: 0;
        position: relative;
    }
    .cards .row mat-card:first-child {
        margin-right: 0.5em
    }
    .cards .row mat-card:nth-child(n+2) {
        margin-left: 0.5em
    }
}
