<div class="flex-wide">
    <h3 mat-dialog-title>Share Your Experience</h3>
    <span class="spacer"> </span>
    <mat-icon mat-dialog-close class="pointer">close</mat-icon>
</div>
<mat-dialog-content>
    <form class="flex-height form-width" [formGroup]="form" (ngSubmit)="submit($event)">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Your Name" formControlName="name">
            <mat-icon matSuffix>face</mat-icon>
            <mat-hint>Leave blank to share anonymously</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Memory</mat-label>
            <textarea matInput placeholder="Share your memory or experience here" formControlName="text"></textarea>
            <mat-error *ngIf="form.invalid">Some text is required for the memory</mat-error>
        </mat-form-field>
    </form>
    <div *ngIf="(downloadURL$ | async) as url; else uploader">
        <img [src]="url" height="99" />
    </div>
    <ng-template #uploader>
        <mat-form-field appearance="standard">
            <mat-label>Optional Image Upload</mat-label>
            <mat-hint>Upload limit of 2MB</mat-hint>
            <div>
                <mat-toolbar>
                    <!-- Display files names -->
                    <input matInput readonly name="name" />

                    <!-- Browse Button -->
                    <button mat-raised-button color="primary">
        Browse Files
      </button>
                </mat-toolbar>

                <!-- Fetch selected filed on change -->
                <input type="file" #fileInput id="uploadFile" (change)="upload($event)" name="uploadFile" accept="image/*" />
            </div>
        </mat-form-field>
        <mat-progress-bar mode="determinate" [value]="uploadProgress$ | async" color="primary"></mat-progress-bar>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="submit($event)">Add</button>
</mat-dialog-actions>