/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-height {
    height: 100%;
}

.flex-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-wide {
    display: flex;
}

.scroll {
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}