.loading {
    text-align: center;
    font-size: 120%;
}

.content {
    font-size: large;
    position: relative;
    white-space: pre-wrap;
}

.name {
    text-transform: capitalize;
}

.items {
    margin: .75em .25em;
}

.trash {
    float: right;
    margin-top: -1.3em;
    margin-right: -1.3em;
}

.items img {
    max-width: 100%;
    max-height: 10em;
    display: block;
    margin: 0 auto .5em;
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .items img {
        float: right;
        max-width: 50%;
        max-height: 10em;
        margin-left: .5em;
    }
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .items img {
        max-width: 40%;
        margin-left: .75em;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .items img {
        max-width: 35%;
        max-height: 12em;
        margin-left: 1em;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .items img {
        max-width: 15em;
    }
}

.clear {
    clear: both;
    height: 0;
}
