.loading {
    text-align: center;
    font-size: 120%;
}

.content {
    font-size: large;
}

.name {
    text-transform: capitalize;
}

.items {
    margin: .75em .25em;
}

.card-height {
    height: calc(100% - 16px);
}