<div class="full-height">
    <div>some stuff in what
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
        <h3 mat-subheader>what</h3>
    </div>
</div>